<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CadApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CadApp.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaseDataFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="GenreName" serializeAs="String">
                <value />
            </setting>
            <setting name="CategoryName" serializeAs="String">
                <value />
            </setting>
            <setting name="DataName" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectCategoryWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectCategoryLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorldWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorldWindowBottom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WorldWindowRight" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorldWindowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="PointSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PointType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Thickness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LineType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ArrowSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ArrowAngle" serializeAs="String">
                <value>0.523598775598299</value>
            </setting>
            <setting name="GridSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffTool" serializeAs="String">
                <value />
            </setting>
        </CadApp.Properties.Settings>
    </userSettings>
</configuration>